// **************
// Theme
// **************

#ms-components-theme(@theme-vars) {
    .gn-new-map-viewer-action {
        .gn-new-map-viewer-action-card {
            .border-color-var(@theme-vars[main-border-color]);
        }
    }
}

// **************
// Layout
// **************

.reprojection-tool {
    .reprojection-container {
        display: flex;
        padding: 0 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .reprojection-coordinates {
        max-width: 600px;
    }

    .nav-item {
        padding: 0 20px;
    }
}