// **************
// Layout
// **************
.ms-resource-detail {

    .gn-details-data {
        .gn-details-data-table {
            max-height: 300px;
            overflow-y: auto;
        }
    }

    .gn-details-time-series {
        .form-group * {
            font-size: @font-size-small;
        }
    }
}