<li>
    <a id="all-resources" href="/all" target="" class="nav-link btn btn-default">
        All Resources
    </a>
</li>
<li>
    <a id="datasets" href="/datasets" target="" class="nav-link btn btn-default">
        Datasets
    </a>
</li>

<li>
    <a id="documents" href="/documents" target="" class="nav-link btn btn-default">
        Documents
    </a>
</li>
<li>
    <a id="maps" href="/maps" target="" class="nav-link btn btn-default">
        Maps
    </a>
</li>
<li>
    <a id="geostories" href="/geostories" target="" class="nav-link btn btn-default">
        GeoStories
    </a>
</li>
<li>
    <a id="dashboards" href="/dashboards" target="" class="nav-link btn btn-default">
        Dashboards
    </a>
</li> 
