{% load static %}
<header class="gn-main-header">
    {% include './brand_navbar.html' %}
</header>
<div class="gn-main-header-placeholder"></div>
{% if show_hero %}
    {% include './hero.html' %}
{% endif %}

{% include './topbar.html' with id='gn-topbar' %}

<script>
    (function () {
        const mainHeader = document.querySelector('.gn-main-header');
        const mainHeaderPlaceholder = document.querySelector('.gn-main-header-placeholder');
        const topbar = document.querySelector('#gn-topbar');
        function resize() {
            if (mainHeaderPlaceholder && mainHeader) {
                mainHeaderPlaceholder.style.height = mainHeader.clientHeight + 'px';
            }
            if (topbar && mainHeader) {
                topbar.style.top = mainHeader.clientHeight + 'px';
            }
        }
        window.addEventListener('resize', resize);
        window.addEventListener('DOMContentLoaded', resize);
        resize();


        const menuDropdowns = document.querySelectorAll('.gn-main-header .dropdown');
        const pathname = window.location.pathname;
        for (var i = 0; i < menuDropdowns.length; i++) {
            const menuDropdown = menuDropdowns[i];
            const menuItems = menuDropdown.querySelectorAll('.dropdown-menu > li a');
            for (var j = 0; j < menuItems.length; j++) {
                const menuItem = menuItems[j];
                const href = menuItem.getAttribute('href');
                if (href === pathname) {
                    menuItem.parentNode.classList.add('active');
                    const toggle = menuDropdown.querySelector('.dropdown-toggle');
                    toggle.classList.add('active');
                }
            }
        }
        const menuLinks = document.querySelectorAll('.gn-main-menu > li a');
        for (var i = 0; i < menuLinks.length; i++) {
            const menuLink = menuLinks[i];
            const href = menuLink.getAttribute('href');
            if (href === pathname) {
                menuLink.classList.add('active');
            }
        }
    })();
</script>
